.navbar {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbarLogo {
  width: 100px;
  object-fit: contain;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 18px;
}

.navbarSearch {
  display: flex;
  flex: 1;
}

.navbar_nav{
  display: flex; 
  justify-content: space-evenly;
}

.navbar_link{
  color: white;
  text-decoration: none;
}
.navbar_option{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;

}

.navbar_optionLineOne{
  font-size: 10px;
}

.navbar_optionLineTwo{
  font-size: 13px;
  font-weight: 800;
}

.navbar_optionBasket{
  display: flex;
  color: white;
  align-items: center;
}

.navbar_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

.navbarSearchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.navbarSearchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}
